<div class="header">
  <div class="left_logo"><a href="/"><img src="assets/images/logo.png" /></a></div>
  <div class="right_login_person"><a href="login"><img src="assets/images/login_person.png" /><p>Login User</p><img src="assets/images/arrow_down.png" /></a></div>
</div>
<div id="left_sidebar">
  <ul>
      <li><a href="feeds"><img src="assets/images/news-feed-icon.png" /><span>news feed</span></a></li>
      <li><a href="clients"><img src="assets/images/people-icon.png" /><span>people</span></a>
          <ul>
              <li><a href="javascript:;"><img src="assets/images/client-icon.png" /><span>CLIENTS</span></a></li>
              <li><a href="javascript:;"><img src="assets/images/team-icon.png" /><span>TEAM</span></a></li>
          </ul>
      </li>
      <li><a href="tickets"><img src="assets/images/ticket-icon.png" /><span>tickets</span></a></li>
      <li><a href="tasks"><img src="assets/images/emar-icon.png" /><span>emars</span></a></li>
      <li><a href="profile"><img src="assets/images/me-icon.png" /><span>me</span></a></li>
  </ul>
</div>
<div id="right_section" class="clients_main emr tasks">
  <div class="border_bottom_unique">
      <div class="slider">
          <div id="myCarouse2" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                  <div class="item active"><p>1 Sep 2017</p></div>
                  <div class="item"><p>2 Sep 2017</p></div>
                  <div class="item"><p>3 Sep 2017</p></div>
                  <div class="item"><p>4 Sep 2017</p></div>
                  <div class="item"><p>5 Sep 2017</p></div>
                  <div class="item"><p>6 Sep 2017</p></div>
                  <div class="item"><p>7 Sep 2017</p></div>
                  <div class="item"><p>8 Sep 2017</p></div>
                  <div class="item"><p>9 Sep 2017</p></div>
                  <div class="item"><p>10 Sep 2017</p></div>
                  <div class="item"><p>11 Sep 2017</p></div>
                  <div class="item"><p>12 Sep 2017</p></div>
                  <div class="item"><p>13 Sep 2017</p></div>
                  <div class="item"><p>14 Sep 2017</p></div>
                  <div class="item"><p>15 Sep 2017</p></div>
                  <div class="item"><p>16 Sep 2017</p></div>
                  <div class="item"><p>17 Sep 2017</p></div>
                  <div class="item"><p>18 Sep 2017</p></div>
              </div>
              <!-- Indicators -->
              <ol class="carousel-indicators">
                  <li data-target="#myCarouse2" data-slide-to="0" class="active">SU</li>
                  <li data-target="#myCarouse2" data-slide-to="1">MO</li>
                  <li data-target="#myCarouse2" data-slide-to="2">TU</li>
                  <li data-target="#myCarouse2" data-slide-to="3">WE</li>
                  <li data-target="#myCarouse2" data-slide-to="4">TH</li>
                  <li data-target="#myCarouse2" data-slide-to="5">FR</li>
                  <li data-target="#myCarouse2" data-slide-to="6">SA</li>
              </ol>
              <a class="left carousel-control" href="#myCarouse2" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"><img src="assets/images/arrow-left-slider.png" /></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarouse2" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"><img src="assets/images/arrow-right-slider.png" /></span>
                  <span class="sr-only">Next</span>
              </a>
          </div>
      </div>
  </div>
  <div class="posts">
      <a class="border-1" href="chat"><div class="img">
              <img src="assets/images/img_posts.png" />
          </div>
          <div class="post_text">
              <h5>Administer 8 am Meds: Adam Gray</h5>
              <p>Administer 8 am Meds: Adam Gray</p>
              <img src="assets/images/arrow_down.png" />
          </div>
      </a>
  </div>
  <div class="posts">
      <a class="border-2" href="chat"><div class="img">
              <img src="assets/images/img_posts.png" />
          </div>
          <div class="post_text">
              <h5>Administer 8 am Meds: Adam Gray</h5>
              <p>Due in 15 min</p>
              <img src="assets/images/arrow_down.png" />
          </div>
      </a>
  </div>
  <div class="posts">
      <a class="border-3" href="chat"><div class="img">
              <img src="assets/images/img_posts.png" />
          </div>
          <div class="post_text">
              <h5>Administer 8 am Meds: Adam Gray</h5>
              <p>Due at 11:30 am</p>
              <img src="assets/images/arrow_down.png" />
          </div>
      </a>
  </div>
  <div class="posts">
      <a class="border-4" href="chat"><div class="img">
              <img src="assets/images/img_posts.png" />
          </div>
          <div class="post_text">
              <h5>Administer 8 am Meds: Adam Gray</h5>
              <p>Change Incontenance underwear. Complete at 9:01am <br> 1 hour past due</p>
              <img src="assets/images/arrow_down.png" />
          </div>
      </a>
  </div>
  <div class="posts">
      <a class="border-5" href="chatl"><div class="img">
              <img src="assets/images/img_posts.png" />
          </div>
          <div class="post_text">
              <h5>Administer 8 am Meds: Adam Gray</h5>
              <p>Bruch Teeth<br>Complete at 7:34 am</p>
              <img src="assets/images/arrow_down.png" />
          </div>
      </a>
  </div>

</div>
