<div class="header">
  <div class="left_logo"><a href="/"><img src="assets/images/logo.png" /></a></div>
  <div class="right_login_person"><a href="login"><img src="assets/images/login_person.png" /><p>Login User</p><img src="assets/images/arrow_down.png" /></a></div>
</div>
<div id="left_sidebar">
  <ul>
      <li><a href="feeds"><img src="assets/images/news-feed-icon.png" /><span>news feed</span></a></li>
      <li><a href="clients"><img src="assets/images/people-icon.png" /><span>people</span></a>
          <ul>
              <li><a href="javascript:;"><img src="assets/images/client-icon.png" /><span>CLIENTS</span></a></li>
              <li><a href="javascript:;"><img src="assets/images/team-icon.png" /><span>TEAM</span></a></li>
          </ul>
      </li>
      <li><a href="tickets"><img src="assets/images/ticket-icon.png" /><span>tickets</span></a></li>
      <li><a href="tasks"><img src="assets/images/emar-icon.png" /><span>emars</span></a></li>
      <li><a href="profile"><img src="assets/images/me-icon.png" /><span>me</span></a></li>
  </ul>
</div>
<div id="right_section" class="clients_main">
  <div class="clients_tabs">
      <h3>Clients</h3> <form><input type="text" placeholder="Search Here..." /><input type="button" /></form>
  </div>
  <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">CLIENTS</a></li>
      <li><a data-toggle="tab" href="#menu1">TEAM</a></li>
  </ul>
  <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
          <div class="accordion" id="accordion2">
              <div class="accordion-group">
                  <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                          HOME NAME 1 <img src="assets/images/arrow_down.png" />
                      </a>
                  </div>
                  <div id="collapseOne" class="accordion-body collapse">
                      <div class="accordion-inner">
                          <div class="members">
                              <a href="clients-detail"><h4>Linda Lane</h4> <img src="assets/images/linda-lane.png" /></a>
                          </div>
                          <div class="members">
                              <a href="clients-detail"><h4>Matthew Russell</h4> <img src="assets/images/mathew.png" /></a>
                          </div>
                          <div class="members">
                              <a href="clients-detail"><h4>Matias Duarte</h4> <img src="assets/images/matias.png" /></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="accordion-group">
                  <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                          WARD NAME 2 <img src="assets/images/arrow_down.png" />
                      </a>
                  </div>
                  <div id="collapseTwo" class="accordion-body collapse">
                      <div class="accordion-inner">
                          <div class="members">
                              <a href="clients-detail"><h4>Linda Lane</h4> <img src="assets/images/linda-lane.png" /></a>
                          </div>
                          <div class="members">
                              <a href="clients-detail"><h4>Matthew Russell</h4> <img src="assets/images/mathew.png" /></a>
                          </div>
                          <div class="members">
                              <a href="clients-detail"><h4>Matias Duarte</h4> <img src="assets/images/matias.png" /></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="accordion-group">
                  <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                          WARD NAME 3 <img src="assets/images/arrow_down.png" />
                      </a>
                  </div>
                  <div id="collapseThree" class="accordion-body collapse">
                      <div class="accordion-inner">
                          <div class="members">
                              <a href="clients-detail"><h4>Linda Lane</h4> <img src="assets/images/linda-lane.png" /></a>
                          </div>
                          <div class="members">
                              <a href="clients-detail"><h4>Matthew Russell</h4> <img src="assets/images/mathew.png" /></a>
                          </div>
                          <div class="members">
                              <a href="clients-detail"><h4>Matias Duarte</h4> <img src="assets/images/matias.png" /></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div id="menu1" class="tab-pane fade">
          <div class="team_info">
              <a href="chat"><img src="assets/images/linda-lane.png" />
                  <div class="team_text"><h4>Mark Joe</h4><p>Hey Mark, can you do the follow..</p></div></a>
          </div>
          <div class="team_info">
              <a href="chat"><img src="assets/images/sally.png" />
                  <div class="team_text"><h4>Linda Lane</h4><p>No I cant go on the training, can..</p></div></a>
          </div>
          <div class="team_info">
              <a href="chat"><img src="assets/images/mathew.png" />
                  <div class="team_text"><h4>Jonathan Alls</h4><p>Hey Mark, can you do the follow..</p></div></a>
          </div>
      </div>
  </div>
</div>
