<div class="header">
  <div class="left_logo"><a href="/"><img src="assets/images/logo.png" /></a></div>
  <div class="right_login_person"><a href="login"><img src="assets/images/login_person.png" /><p>Login User</p><img src="assets/images/arrow_down.png" /></a></div>
</div>
<div id="left_sidebar">
  <ul>
      <li><a href="feeds"><img src="assets/images/news-feed-icon.png" /><span>news feed</span></a></li>
      <li><a href="clients"><img src="assets/images/people-icon.png" /><span>people</span></a>
          <ul>
              <li><a href="javascript:;"><img src="assets/images/client-icon.png" /><span>CLIENTS</span></a></li>
              <li><a href="javascript:;"><img src="assets/images/team-icon.png" /><span>TEAM</span></a></li>
          </ul>
      </li>
      <li><a href="tickets"><img src="assets/images/ticket-icon.png" /><span>tickets</span></a></li>
      <li><a href="tasks"><img src="assets/images/emar-icon.png" /><span>emars</span></a></li>
      <li><a href="profile"><img src="assets/images/me-icon.png" /><span>me</span></a></li>
  </ul>
</div>
<div id="right_section" class="all_tickets">
  <div class="add_new_filter">
      <ul>
          <li><a href="javascript:;">Filter</a></li>
          <li>all tickets</li>
          <li><a href="add-ticket"><img src="assets/images/add_plus.png" /><span>Add New Ticket</span></a></li>
      </ul>
  </div>
  <div class="posts">
      <a href="chat"><div class="img">
              <img src="assets/images/adam.png" />
          </div>
          <div class="post_text">
              <h5>Adam Gray</h5>
              <p>This is a sample message that crosses over in two lines and goes on for a while. </p>
              <span>2h</span>
          </div>
      </a>
  </div>
  <div class="posts">
      <a href="chat"><div class="img">
              <img src="assets/images/eugene.png" />
          </div>
          <div class="post_text">
              <h5>Eugene Garcia</h5>
              <p>This is a sample message that crosses over in two lines and goes on for a while. </p>
              <span>10h</span>
          </div>
      </a>
  </div>
  <div class="posts">
      <a href="chat"><div class="img">
              <img src="assets/images/kenneth.png" />
          </div>
          <div class="post_text">
              <h5>Kenneth Elliott</h5>
              <p>This is a sample message that crosses over in two lines and goes on for a while. </p>
              <span>2d</span>
          </div>
      </a>
  </div>
  <div class="posts">
      <a href="chat"><div class="img">
              <img src="assets/images/steven.png" />
          </div>
          <div class="post_text">
              <h5>Steven Wheeler</h5>
              <p>This is a sample message that crosses over in two lines and goes on for a while. </p>
              <span>2d</span>
          </div>
      </a>
  </div>
  <div class="posts">
      <a href="chat"><div class="img">
              <img src="assets/images/eugene1.png" />
          </div>
          <div class="post_text">
              <h5>Eugene Roberts</h5>
              <p>This is a sample message that crosses over in two lines and goes on for a while. </p>
              <span>18 Jul</span>
          </div>
      </a>
  </div>
  <div class="posts">
      <a href="chat"><div class="img">
              <img src="assets/images/dennis.png" />
          </div>
          <div class="post_text">
              <h5>Dennis Bryant</h5>
              <p>This is a sample message that crosses over in two lines and goes on for a while. </p>
              <span>27 Jun</span>
          </div>
      </a>
  </div>
</div>
