<div class="header">
  <div class="left_logo"><a href="/"><img src="assets/images/logo.png" /></a></div>
  <div class="right_login_person"><a href="login"><img src="assets/images/login_person.png" /><p>Login User</p><img src="assets/images/arrow_down.png" /></a></div>
</div>
<div id="left_sidebar">
  <ul>
      <li><a href="feeds"><img src="assets/images/news-feed-icon.png" /><span>news feed</span></a></li>
      <li><a href="clients"><img src="assets/images/people-icon.png" /><span>people</span></a>
          <ul>
              <li><a href="javascript:;"><img src="assets/images/client-icon.png" /><span>CLIENTS</span></a></li>
              <li><a href="javascript:;"><img src="assets/images/team-icon.png" /><span>TEAM</span></a></li>
          </ul>
      </li>
      <li><a href="tickets"><img src="assets/images/ticket-icon.png" /><span>tickets</span></a></li>
      <li><a href="tasks"><img src="assets/images/emar-icon.png" /><span>emars</span></a></li>
      <li><a href="profile"><img src="assets/images/me-icon.png" /><span>me</span></a></li>
  </ul>
</div>
<div id="right_section" class="all_tickets client_main_ticket events">
  <div class="client_ticket">
      <div class="top_name">
          <a href="javascript:;"><img src="assets/images/back-btn.png" /></a> <img src="assets/images/sally-big.png"/> <span class="name">Linda L’S Medication</span>
      </div>
      <div class="add_new_filter">
          <ul>
              <li><a href="javascript:;"><img src="assets/images/add_plus.png" /><span>Add New Event</span></a></li>
          </ul>
      </div>
  </div>
  <div class="graph_slider">
      <div class="graph"><img src="assets/images/graph-img.jpg" /></div>
      <div class="slider_new">
          <div id="myCarousel3" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                  <div class="item active"><p>2016</p></div>
                  <div class="item"><p>2017</p></div>
                  <div class="item"><p>2018</p></div>
              </div>
              <a class="left carousel-control" href="#myCarousel3" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"><img src="assets/images/arrow-left-slider.png" /></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel3" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"><img src="assets/images/arrow-right-slider.png" /></span>
                  <span class="sr-only">Next</span>
              </a>
          </div>
      </div>
  </div>
  <div class="listing_bullets">
      <ul>
          <li><img src="assets/images/li_common.png" />Sleep Event</li>
          <li><img src="assets/images/li_common.png" />Menstruaurin</li>
          <li><img src="assets/images/prn_icon.png" />PRN</li>
          <li><img src="assets/images/li_common.png" />Urin Discharge</li>
          <li><img src="assets/images/emerg_icon.png" />Emerg Visit</li>
          <li><img src="assets/images/seizuer_icon.png" />Seizure</li>
          <li><img src="assets/images/bowel_icon.png" />Bowel Movement</li>
          <li><img src="assets/images/li_common.png" />Behavior</li>
          <li><img src="assets/images/li_common.png" />Falls</li>
      </ul>
  </div>
  <div class="heading_event">
      <h4>Events Details</h4>
  </div>
  <div class="posts">
      <a href="javascript:;"><div class="img">
              <img src="assets/images/adam.png" />
          </div>
          <div class="post_text">
              <h5>Fall</h5>
              <p>The client fell while trying to go upstairs he seems fine but I will monitoe for..</p>
              <span>2h</span>
          </div>
      </a>
  </div>
  <div class="posts">
      <a href="javascript:;"><div class="img">
              <img src="assets/images/eugene.png" />
          </div>
          <div class="post_text">
              <h5>Seizure</h5>
              <p>Client experience a seizure today and lasted for 10 seconds.</p>
              <span>10h</span>
          </div>
      </a>
  </div>
  <div class="posts">
      <a href="javascript:;"><div class="img">
              <img src="assets/images/kenneth.png" />
          </div>
          <div class="post_text">
              <h5>Kenneth Elliott</h5>
              <p>Client experience a seizure today and lasted for 10 seconds.</p>
              <span>2d</span>
          </div>
      </a>
  </div>
  <div class="posts">
      <a href="javascript:;"><div class="img">
              <img src="assets/images/steven.png" />
          </div>
          <div class="post_text">
              <h5>Steven Wheeler</h5>
              <p>Client experience a seizure today and lasted for 10 seconds.</p>
              <span>2d</span>
          </div>
      </a>
  </div>
  <div class="posts">
      <a href="javascript:;"><div class="img">
              <img src="assets/images/eugene1.png" />
          </div>
          <div class="post_text">
              <h5>Eugene Roberts</h5>
              <p>Client experience a seizure today and lasted for 10 seconds.</p>
              <span>18 Jul</span>
          </div>
      </a>
  </div>
  <div class="posts">
      <a href="javascript:;"><div class="img">
              <img src="assets/images/dennis.png" />
          </div>
          <div class="post_text">
              <h5>Dennis Bryant</h5>
              <p>Client experience a seizure today and lasted for 10 seconds.</p>
              <span>27 Jun</span>
          </div>
      </a>
  </div>
</div>
