<div class="header">
  <div class="left_logo"><a href="/"><img src="assets/images/logo.png" /></a></div>
  <div class="right_login_person"><a href="login"><img src="assets/images/login_person.png" /><p>Login User</p><img src="assets/images/arrow_down.png" /></a></div>
</div>
<div id="left_sidebar">
  <ul>
      <li><a href="feeds"><img src="assets/images/news-feed-icon.png" /><span>news feed</span></a></li>
      <li><a href="clients"><img src="assets/images/people-icon.png" /><span>people</span></a>
          <ul>
              <li><a href="javascript:;"><img src="assets/images/client-icon.png" /><span>CLIENTS</span></a></li>
              <li><a href="javascript:;"><img src="assets/images/team-icon.png" /><span>TEAM</span></a></li>
          </ul>
      </li>
      <li><a href="tickets"><img src="assets/images/ticket-icon.png" /><span>tickets</span></a></li>
      <li><a href="tasks"><img src="assets/images/emar-icon.png" /><span>emars</span></a></li>
      <li><a href="profile"><img src="assets/images/me-icon.png" /><span>me</span></a></li>
  </ul>
</div>
<div id="right_section" class="new-ticket">

  <div class="top_name">
      <a href="javascript:;"><img src="assets/images/back-btn.png" /></a> <img src="assets/images/sally-big.png"/> <span class="name">New Ticket</span>
  </div>

  <div class="green_heading">
      <h3>What would you like to do?</h3>
      <ul>
          <li><a href="order-ticket">Re-Order Meds / Change Autofill</a></li>
          <li><a href="javascript:;">Speak with a Pharmacist</a></li>
          <li><a href="javascript:;">Request Spares</a></li>
          <li class="text_bold"><a href="javascript:;">General Question</a></li>
      </ul>
  </div>

</div>
