<div class="header">
  <div class="left_logo"><a href="/"><img src="assets/images/logo.png" /></a></div>
  <div class="right_login_person"><a href="login"><img src="assets/images/login_person.png" /><p>Login User</p><img src="assets/images/arrow_down.png" /></a></div>
</div>
<div id="left_sidebar" class="all_chat">
  <div class="search_contact">
      <input type="button" /> <input type="text" placeholder="Search Contact" />
  </div>
  <div class="all_contacts">
      <p>All Contacts</p> <a href="javascript:;"><img src="assets/images/plus_icon.png" /></a>
  </div>

  <ul>
      <li><a href="javascript:;"><img src="assets/images/linda-lane.png" /> <span>Linda Lane</span></a></li>
      <li><a href="javascript:;"><img src="assets/images/mathew.png" /> <span>Matthew Russell</span></a></li>
      <li><a href="javascript:;"><img src="assets/images/matias.png" /> <span>Matias Duarte</span></a></li>
      <li><a href="javascript:;"><img src="assets/images/sally.png" /> <span>Sally Newborn</span></a></li>
  </ul>
</div>
<div id="right_section" class="chat_section">

  <div class="top_name">
      <a href="javascript:;"><img src="assets/images/back-btn.png" /></a> <img src="assets/images/login_person.png"/> <span class="name">ADAM GRAY</span>
  </div>
  <div class="chat_box">
      <div class="chats">
          <img src="assets/images/login_person.png" /> <p>hey Linda, Client jane doe experienced a fall today.</p> <span><i>From Me</i>, Now</span>
      </div>
  </div>

  <div class="chat_box right">
      <div class="chats">
          <img src="assets/images/login_person.png" /> <p>hey Linda, Client jane doe experienced a fall today.</p> <span><i>From Me</i>, Now</span>
      </div>
  </div>

  <div class="type_message">
      <textarea placeholder="Type Message Here..."></textarea> <input type="button" />
  </div>

</div>
