
<div class="login_page">
  <div class="logo_small">
      <img src="assets/images/logo.png" />
      <form>
          <div class="form-group">
              <input type="text" placeholder="Agency" />
          </div>
          <div class="form-group half_column">
              <input type="text" placeholder="Email" />
          </div>
          <div class="form-group half_column pull-right">
              <input type="text" placeholder="Password" />
          </div>
          <div class="form-group half_column">
              <a href="feeds"><input type="button" value="sign in" /></a>
          </div>
          <div class="form-group half_column">
              <a href="javascript:;">Forgot Password?</a>
              <a href="javascript:;">Don’t have an account?</a></div>
      </form>
  </div>
</div>
