
<div class="header">
  <div class="left_logo"><a href="/"><img src="assets/images/logo.png" /></a></div>
  <div class="right_login_person"><a href="login"><img src="assets/images/login_person.png" /><p>Login User</p><img src="assets/images/arrow_down.png" /></a></div>
</div>
<div id="right_section" class="administer_meds">
  <div class="add_new_filter">
      <div class="top_name">
          <a href="javascript:;"><img src="assets/images/back-btn.png"></a> <img src="assets/images/sally-big.png"> <span class="name"><strong>Client</strong>Linda Lois</span>
      </div>
      <ul>
          <li>Administering Meds</li>
          <li><a href="add-new-ticket.html"><img src="assets/images/video-icon.png" /><span>WATCH TUTORIAL</span></a></li>
      </ul>
  </div>
  <div class="meds_administer_inner">
      <ul>
          <li><img src="assets/images/medicine-1.jpg" /><span>Clonazepam 0.5mg<i>1 Tablet at 12pm</i></span></li>
          <li><img src="assets/images/medicine-3.jpg" /><span>Lorazepam 0.5mg<i>1 Tablet at 12pm</i></span></li>
      </ul>
  </div>
  <p>Please Verify the Name , Strenght , DIN, Quantity with the pouch you are about to administer.</p>
  <div class="adam_wrili">
      <p>Adam Wrilie</p>
      <a data-toggle="modal" data-target="#myModal" href="javascript:;">First check</a>
      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <div class="modal-body">
                      <h4>Adam Wrilie</h4>
                      <form>
                          <div class="form-group">
                              <label>Please enter your password</label>
                              <input type="text" />
                          </div>
                          <div class="form-group">
                              <input type="button" value="Cancel" /><input type="button" value="Submit" />
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="adam_wrili double_check">
      <p>Adam Wrilie</p>
      <a data-toggle="modal" data-target="#myModal1" href="javascript:;">Second user Double check</a>
      <div id="myModal1" class="modal fade" role="dialog">
          <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <div class="modal-body">
                      <h4>SECOND USER DOUBLE CHECK</h4>
                      <form>
                          <div class="form-group">
                              <label>Please Enter Your Email</label>
                              <input type="text" />
                          </div>
                          <div class="form-group">
                              <label>Please Enter Your Password</label>
                              <input type="text" />
                          </div>
                          <div class="form-group">
                              <input type="button" value="Cancel" /><input type="button" value="Submit" />
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
