<div class="header">
  <div class="left_logo"><a href="/"><img src="assets/images/logo.png" /></a></div>
  <div class="right_login_person"><a href="login"><img src="assets/images/login_person.png" /><p>Login User</p><img src="assets/images/arrow_down.png" /></a></div>
</div>
<div id="left_sidebar">
  <ul>
      <li><a href="feeds"><img src="assets/images/news-feed-icon.png" /><span>news feed</span></a></li>
      <li><a href="clients"><img src="assets/images/people-icon.png" /><span>people</span></a>
          <ul>
              <li><a href="javascript:;"><img src="assets/images/client-icon.png" /><span>CLIENTS</span></a></li>
              <li><a href="javascript:;"><img src="assets/images/team-icon.png" /><span>TEAM</span></a></li>
          </ul>
      </li>
      <li><a href="tickets"><img src="assets/images/ticket-icon.png" /><span>tickets</span></a></li>
      <li><a href="tasks"><img src="assets/images/emar-icon.png" /><span>emars</span></a></li>
      <li><a href="profile"><img src="assets/images/me-icon.png" /><span>me</span></a></li>
  </ul>
</div>
<div id="right_section" class="clients_main">
  <div class="top_name">
      <a href="javascript:;"><img src="assets/images/back-btn.png" /></a> <img src="assets/images/sally-big.png"/> <span class="name">Linda Pharmacist Corner</span>
  </div>
  <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">MED REVIEW</a></li>
      <li><a data-toggle="tab" href="#menu1">INTERVENTIONS</a></li>
  </ul>
  <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
          <div class="all_tickets">
              <div class="posts">
                  <a href="chat"><div class="img">
                          <img src="assets/images/adam.png" />
                      </div>
                      <div class="post_text">
                          <h5>Adam Gray</h5>
                          <span>2 Months Ago</span>
                      </div>
                  </a>
              </div>
              <div class="posts">
                  <a href="chat"><div class="img">
                          <img src="assets/images/eugene.png" />
                      </div>
                      <div class="post_text">
                          <h5>Eugene Garcia</h5>
                          <span>1 Year Ago</span>
                      </div>
                  </a>
              </div>
              <div class="posts">
                  <a href="chat"><div class="img">
                          <img src="assets/images/kenneth.png" />
                      </div>
                      <div class="post_text">
                          <h5>Kenneth Elliott</h5>
                          <span>3 Years Ago</span>
                      </div>
                  </a>
              </div>
              <div class="posts">
                  <a href="chat"><div class="img">
                          <img src="assets/images/steven.png" />
                      </div>
                      <div class="post_text">
                          <h5>Steven Wheeler</h5>
                          <span>5 Months Ago</span>
                      </div>
                  </a>
              </div>
              <div class="posts">
                  <a href="chat"><div class="img">
                          <img src="assets/images/eugene1.png" />
                      </div>
                      <div class="post_text">
                          <h5>Eugene Roberts</h5>
                          <span>3 Months Ago</span>
                      </div>
                  </a>
              </div>
              <div class="posts">
                  <a href="chat"><div class="img">
                          <img src="assets/images/dennis.png" />
                      </div>
                      <div class="post_text">
                          <h5>Dennis Bryant</h5>
                          <span>4 Months Ago</span>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <div id="menu1" class="tab-pane fade">
          <div class="all_tickets">
              <div class="posts">
                  <a href="chat"><div class="img">
                          <img src="assets/images/adam.png" />
                      </div>
                      <div class="post_text">
                          <h5>Pharmacist Name</h5>
                          <p>Medication Name, Strength, Doctor</p>
                          <span>2 Months Ago</span>
                      </div>
                  </a>
              </div>
              <div class="posts">
                  <a href="chat"><div class="img">
                          <img src="assets/images/eugene.png" />
                      </div>
                      <div class="post_text">
                          <h5>Eugene Garcia</h5>
                          <p>Metformin, 500 mg, Dr. MArlin K.</p>
                          <span>1 Year Ago</span>
                      </div>
                  </a>
              </div>
              <div class="posts">
                  <a href="chat"><div class="img">
                          <img src="assets/images/kenneth.png" />
                      </div>
                      <div class="post_text">
                          <h5>Kenneth Elliott</h5>
                          <p>Eltroxon, 500 mg , Dr.Marlin K.</p>
                          <span>3 Years Ago</span>
                      </div>
                  </a>
              </div>
              <div class="posts">
                  <a href="chat"><div class="img">
                          <img src="assets/images/steven.png" />
                      </div>
                      <div class="post_text">
                          <h5>Steven Wheeler</h5>
                          <p>Metformin, 500 mg, Dr. MArlin K.</p>
                          <span>5 Months Ago</span>
                      </div>
                  </a>
              </div>
              <div class="posts">
                  <a href="chat"><div class="img">
                          <img src="assets/images/eugene1.png" />
                      </div>
                      <div class="post_text">
                          <h5>Eugene Roberts</h5>
                          <p>Eltroxon, 500 mg , Dr.Marlin K.</p>
                          <span>3 Months Ago</span>
                      </div>
                  </a>
              </div>
              <div class="posts">
                  <a href="chat"><div class="img">
                          <img src="assets/images/dennis.png" />
                      </div>
                      <div class="post_text">
                          <h5>Dennis Bryant</h5>
                          <p>Metformin, 500 mg, Dr. MArlin K.</p>
                          <span>4 Months Ago</span>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>
