<div class="header">
  <div class="left_logo"><a href="/"><img src="assets/images/logo.png" /></a></div>
  <div class="right_login_person"><a href="login"><img src="assets/images/login_person.png" /><p>Login User</p><img src="assets/images/arrow_down.png" /></a></div>
</div>
<div id="left_sidebar">
  <ul>
      <li><a href="feeds"><img src="assets/images/news-feed-icon.png" /><span>news feed</span></a></li>
      <li><a href="clients"><img src="assets/images/people-icon.png" /><span>people</span></a>
          <ul>
              <li><a href="javascript:;"><img src="assets/images/client-icon.png" /><span>CLIENTS</span></a></li>
              <li><a href="javascript:;"><img src="assets/images/team-icon.png" /><span>TEAM</span></a></li>
          </ul>
      </li>
      <li><a href="tickets"><img src="assets/images/ticket-icon.png" /><span>tickets</span></a></li>
      <li><a href="tasks"><img src="assets/images/emar-icon.png" /><span>emars</span></a></li>
      <li><a href="profile"><img src="assets/images/me-icon.png" /><span>me</span></a></li>
  </ul>
</div>
<div id="right_section">
  <h3>ALL POSTS</h3>
  <div class="posts">
      <a href="all-posts-chat.html"><div class="img">
              <img src="assets/images/img_posts.png" />
          </div>
          <div class="post_text">
              <h5>Sally Newborn</h5>
              <p>yesterday  started new tickets for Sally Newborn</p>
              <img src="assets/images/arrow_down.png" />
          </div>
      </a>
  </div>
  <div class="posts">
      <a href="all-posts-chat.html"><div class="img">
              <img src="assets/images/img_posts.png" />
          </div>
          <div class="post_text">
              <h5>Sally Newborn</h5>
              <p>yesterday  started new tickets for Sally Newborn</p>
              <img src="assets/images/arrow_down.png" />
          </div>
      </a>
  </div>
  <div class="posts">
      <a href="all-posts-chat.html"><div class="img">
              <img src="assets/images/img_posts.png" />
          </div>
          <div class="post_text">
              <h5>Sally Newborn</h5>
              <p>yesterday  started new tickets for Sally Newborn</p>
              <img src="assets/images/arrow_down.png" />
          </div>
      </a>
  </div>
  <div class="posts">
      <a href="all-posts-chat.html"><div class="img">
              <img src="assets/images/img_posts.png" />
          </div>
          <div class="post_text">
              <h5>Sally Newborn</h5>
              <p>yesterday  started new tickets for Sally Newborn</p>
              <img src="assets/images/arrow_down.png" />
          </div>
      </a>
  </div>
  <div class="posts">
      <a href="all-posts-chat.html"><div class="img">
              <img src="assets/images/img_posts.png" />
          </div>
          <div class="post_text">
              <h5>Sally Newborn</h5>
              <p>yesterday  started new tickets for Sally Newborn</p>
              <img src="assets/images/arrow_down.png" />
          </div>
      </a>
  </div>
  <div class="load_more">
      <a href="javascript:;">LOAD MORE</a>
  </div>
</div>
