<div class="header">
  <div class="left_logo"><a href="/"><img src="assets/images/logo.png" /></a></div>
  <div class="right_login_person"><a href="login"><img src="assets/images/login_person.png" /><p>Login User</p><img src="assets/images/arrow_down.png" /></a></div>
</div>
<div id="right_section" class="clients_main emr">
  <div class="border_bottom_unique">
      <div class="top_name">
          <a href="javascript:;"><img src="assets/images/back-btn.png" /></a> <img src="assets/images/sally-big.png"/> <span class="name">Linda Pharmacist Corner</span>
      </div>
      <div class="slider">
          <div id="myCarouse2" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                  <div class="item active"><p>1 Sep 2017</p></div>
                  <div class="item"><p>2 Sep 2017</p></div>
                  <div class="item"><p>3 Sep 2017</p></div>
                  <div class="item"><p>4 Sep 2017</p></div>
                  <div class="item"><p>5 Sep 2017</p></div>
                  <div class="item"><p>6 Sep 2017</p></div>
                  <div class="item"><p>7 Sep 2017</p></div>
                  <div class="item"><p>8 Sep 2017</p></div>
                  <div class="item"><p>9 Sep 2017</p></div>
                  <div class="item"><p>10 Sep 2017</p></div>
                  <div class="item"><p>11 Sep 2017</p></div>
                  <div class="item"><p>12 Sep 2017</p></div>
                  <div class="item"><p>13 Sep 2017</p></div>
                  <div class="item"><p>14 Sep 2017</p></div>
                  <div class="item"><p>15 Sep 2017</p></div>
                  <div class="item"><p>16 Sep 2017</p></div>
                  <div class="item"><p>17 Sep 2017</p></div>
                  <div class="item"><p>18 Sep 2017</p></div>
              </div>
              <!-- Indicators -->
              <ol class="carousel-indicators">
                  <li data-target="#myCarouse2" data-slide-to="0" class="active">SU</li>
                  <li data-target="#myCarouse2" data-slide-to="1">MO</li>
                  <li data-target="#myCarouse2" data-slide-to="2">TU</li>
                  <li data-target="#myCarouse2" data-slide-to="3">WE</li>
                  <li data-target="#myCarouse2" data-slide-to="4">TH</li>
                  <li data-target="#myCarouse2" data-slide-to="5">FR</li>
                  <li data-target="#myCarouse2" data-slide-to="6">SA</li>
              </ol>
              <a class="left carousel-control" href="#myCarouse2" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"><img src="assets/images/arrow-left-slider.png" /></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarouse2" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"><img src="assets/images/arrow-right-slider.png" /></span>
                  <span class="sr-only">Next</span>
              </a>
          </div>
      </div>
  </div>
  <div class="emr_heading">
      <h2>Regular Meds</h2>
  </div>
  <div class="emr_tabs">
      <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#home">By med</a></li>
          <li><a data-toggle="tab" href="#menu1">By Pass Time</a></li>
      </ul>
      <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
              <div class="all_tickets">
                  <div class="accordion" id="accordion2">
                      <div class="accordion-group">
                          <div class="accordion-heading">
                              <a class="accordion-toggle padding_zero" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                  <img class="left_postiong" src="assets/images/medicine-1.jpg" />Clonazepam 0.5mg <img src="assets/images/arrow-down-big.png" />
                              </a>
                          </div>
                          <div id="collapseOne" class="accordion-body collapse">
                              <div class="accordion-inner">
                                  <div class="members medicines">
                                      <div class="form-group"><label><input value="" name="medicine" type="radio"><span class="label-text"> 1 Tablet at 8 am (0800)</span></label></div>
                                  </div>
                                  <div class="members medicines">
                                      <div class="form-group color_2"><label><input value="" name="medicine" type="radio"><span class="label-text"> 1 Tablet at 12 pm (1200)</span></label></div>
                                  </div>
                                  <div class="members medicines">
                                      <div class="form-group color_3"><label><input value="" name="medicine" type="radio"><span class="label-text"> 1 Tablet at 6 pm (1800)</span></label></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="accordion-group">
                          <div class="accordion-heading">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                  <img class="left_postiong" src="assets/images/medicine-2.jpg" />Metformin 500 mg <img src="assets/images/arrow-down-big.png" />
                              </a>
                          </div>
                          <div id="collapseTwo" class="accordion-body collapse">
                              <div class="accordion-inner">
                                  <div class="members medicines">
                                      <div class="form-group"><label><input value="" name="medicine" type="radio"><span class="label-text"> 1 Tablet at 8 am (0800)</span></label></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="accordion-group">
                          <div class="accordion-heading">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                  <img class="left_postiong" src="assets/images/medicine-3.jpg" />Lorazepam 0.5mg <img src="assets/images/arrow-down-big.png" />
                              </a>
                          </div>
                          <div id="collapseThree" class="accordion-body collapse">
                              <div class="accordion-inner">
                                  <div class="members medicines">
                                      <div class="form-group color_2"><label><input value="" name="medicine" type="radio"><span class="label-text">  1 Tablet at 12 am (2400)</span></label></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="reorder_btn">
                          <a href="javascript:;">Administer meds</a>
                      </div>
                  </div>
                  <div class="emr_heading standing_orders">
                      <h2>Standing Orders</h2>
                      <div class="members medicines">
                          <div class="form-group">
                              <label>
                                  <h4>Change Constience Product</h4>
                                  <img class="left_postiong" src="assets/images/eugene1.png" />
                                  <input value="" name="medicine" type="radio">
                                  <span class="label-text">  Complete at 8 am (0800)</span>
                              </label>
                          </div>
                      </div>
                      <div class="members medicines">
                          <div class="form-group">
                              <label>
                                  <h4>Brush Teeth</h4>
                                  <img class="left_postiong" src="assets/images/eugene1.png" />
                                  <input value="" name="medicine" type="radio">
                                  <span class="label-text">  Due at 12pm (1200)</span>
                              </label>
                          </div>
                      </div>
                      <div class="reorder_btn">
                          <a href="javascript:;">complete orders</a>
                      </div>
                  </div>
                  <div class="emr_heading standing_orders prns">
                      <h2>PRNs</h2>
                      <div class="members medicines">
                          <div class="form-group">
                              <label>
                                  <div class="img_left_medicine"><img class="left_postiong" src="assets/images/medicine-3.jpg" /></div>
                                  <input value="" name="medicine" type="radio">
                                  <span class="label-text">  <i>Lorazepam 2 mg</i> Dr . A . Homested <strong>(Take One table By mouth Twice daily)</strong></span>
                              </label>
                          </div>
                      </div>
                      <div class="members medicines">
                          <div class="form-group">
                              <label>
                                  <div class="img_left_medicine"><img class="left_postiong" src="assets/images/medicine-3.jpg" /></div>
                                  <input value="" name="medicine" type="radio">
                                  <span class="label-text">  <i>Lorazepam 2 mg</i> Dr Z McMillian <strong>Take one tablet daily when needed)</strong></span>
                              </label>
                          </div>
                      </div>
                      <div class="reorder_btn">
                          <a href="javascript:;">Administer Meds</a>
                      </div>
                  </div>
              </div>
          </div>
          <div id="menu1" class="tab-pane fade">
              <div class="all_tickets by_pass_time">
                  <div class="accordion" id="accordion2">
                      <div class="accordion-group">
                          <div class="accordion-heading">
                              <a class="accordion-toggle padding_zero border_1" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                                  At 8 am (0800)<img src="assets/images/arrow-down-big.png" />
                              </a>
                          </div>
                          <div id="collapseFour" class="accordion-body collapse">
                              <div class="accordion-inner">
                                  <div class="members medicines">
                                      <div class="form-group"><label><img class="left_postiong" src="assets/images/medicine-1.jpg" /><input value="" name="medicine" type="radio"><span class="label-text"> 1 Tablet at 8 am (0800)</span></label></div>
                                  </div>
                                  <div class="members medicines">
                                      <div class="form-group"><label><img class="left_postiong" src="assets/images/medicine-1.jpg" /><input value="" name="medicine" type="radio"><span class="label-text"> 1 Tablet at 12 pm (1200)</span></label></div>
                                  </div>
                                  <div class="members medicines">
                                      <div class="form-group"><label><img class="left_postiong" src="assets/images/medicine-1.jpg" /><input value="" name="medicine" type="radio"><span class="label-text"> 1 Tablet at 6 pm (1800)</span></label></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="accordion-group">
                          <div class="accordion-heading">
                              <a class="accordion-toggle border_2" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                                  At 8 am (0800)<img src="assets/images/arrow-down-big.png" />
                              </a>
                          </div>
                          <div id="collapseFive" class="accordion-body collapse">
                              <div class="accordion-inner">
                                  <div class="members medicines">
                                      <div class="form-group"><label><img class="left_postiong" src="assets/images/medicine-2.jpg" /><input value="" name="medicine" type="radio"><span class="label-text">  1 Tablet Metformin</span></label></div>
                                      <div class="form-group"><label><img class="left_postiong" src="assets/images/medicine-2.jpg" /><input value="" name="medicine" type="radio"><span class="label-text"> 2 Tablet Lorazepam</span></label></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="accordion-group">
                          <div class="accordion-heading">
                              <a class="accordion-toggle border_3" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
                                  At 8 am (0800)<img src="assets/images/arrow-down-big.png" />
                              </a>
                          </div>
                          <div id="collapseSix" class="accordion-body collapse">
                              <div class="accordion-inner">
                                  <div class="members medicines">
                                      <div class="form-group color_2"><label><img class="left_postiong" src="assets/images/medicine-3.jpg" /><input value="" name="medicine" type="radio"><span class="label-text">  1 Tablet Lorazepam</span></label></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="reorder_btn">
                          <a href="javascript:;">Administer meds</a>
                      </div>
                  </div>
                  <div class="emr_heading standing_orders standing_orders_next">
                      <h2>Standing Orders</h2>
                      <div class="members medicines">
                          <div class="form-group">
                              <label>
                                  <h4>Change Constience Product</h4>
                                  <img class="left_postiong" src="assets/images/eugene1.png" />
                                  <input value="" name="medicine" type="radio">
                                  <span class="label-text">  Complete at 8 am (0800)</span>
                              </label>
                          </div>
                      </div>
                      <div class="members medicines">
                          <div class="form-group">
                              <label class="border_2">
                                  <h4>Brush Teeth</h4>
                                  <img class="left_postiong" src="assets/images/eugene1.png" />
                                  <input value="" name="medicine" type="radio">
                                  <span class="label-text">  Due at 12pm (1200)</span>
                              </label>
                          </div>
                      </div>
                      <div class="reorder_btn">
                          <a href="javascript:;">complete orders</a>
                      </div>
                  </div>
                  <div class="emr_heading standing_orders prns">
                      <h2>PRNs</h2>
                      <div class="members medicines">
                          <div class="form-group">
                              <label>
                                  <div class="img_left_medicine"><img class="left_postiong" src="assets/images/medicine-3.jpg" /></div>
                                  <input value="" name="medicine" type="radio">
                                  <span class="label-text">  <i>Lorazepam 2 mg</i> Dr . A . Homested <strong>(Take One table By mouth Twice daily)</strong></span>
                              </label>
                          </div>
                      </div>
                      <div class="members medicines">
                          <div class="form-group">
                              <label>
                                  <div class="img_left_medicine"><img class="left_postiong" src="assets/images/medicine-3.jpg" /></div>
                                  <input value="" name="medicine" type="radio">
                                  <span class="label-text">  <i>Lorazepam 2 mg</i> Dr Z McMillian <strong>Take one tablet daily when needed)</strong></span>
                              </label>
                          </div>
                      </div>
                      <div class="reorder_btn">
                          <a href="javascript:;">Administer Meds</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
