<div class="header">
  <div class="left_logo"><a href="/"><img src="assets/images/logo.png" /></a></div>
  <div class="right_login_person"><a href="login"><img src="assets/images/login_person.png" /><p>Login User</p><img src="assets/images/arrow_down.png" /></a></div>
</div>

<div id="right_section" class="reorder-ticket">

  <div class="top_name">
      <a href="javascript:;"><img src="assets/images/back-btn.png" /></a> <img src="assets//sally-big.png"/> <span class="name">Linda l's Medication</span>
  </div>

  <div class="reorder_div">
      <h2>ReOrders</h2>
      <div class="medicines">
          <div class="form-group">
              <label><input type="radio" value="" name="medicine"  />
                  <span class="label-text">Lorazepam 2 mg</span></label>
          </div>
          <p>Dr.A. Homested <span>(Take one table by mouth twice daily for 10 days)</span></p>
          <a href="javascript:;">...</a>
      </div>
      <div class="medicines second_row">
          <div class="form-group">
              <label><input type="radio" value="" name="medicine"  />
                  <span class="label-text"> 1 Tablet at 12 pm (1200)</span></label>
          </div>
          <p>Daily when needed</p>
          <a href="javascript:;">...</a>
      </div>
      <div class="reorder_btn">
          <a href="javascript:;">reorders</a>
      </div>
  </div>

  <div class="reorder_div second_autofill">
      <h2>Auto Fill</h2>
      <div class="medicines">
          <div class="form-group">
              <label><span class="label-text">Lorazepam 2 mg</span></label>
          </div>
          <p>Every 30 days <span>(Coming in 2 days)</span></p>
          <strong>7</strong>
          <a href="javascript:;">...</a>
      </div>
      <div class="medicines second_row">
          <div class="form-group">
              <label><span class="label-text"> 1 Tablet at 12 pm (1200)</span></label>
          </div>
          <p>30 tabs Every 15 days, Coming in 25 days</p>
          <strong>30</strong>
          <a href="javascript:;">...</a>
      </div>
      <div class="reorder_btn">
          <a href="javascript:;">Request autofill change</a>
      </div>
  </div>


</div>
