<div class="header">
  <div class="left_logo"><a href="/"><img src="assets/images/logo.png" /></a></div>
  <div class="right_login_person"><a href="login"><img src="assets/images/login_person.png" /><p>Login User</p><img src="assets/images/arrow_down.png" /></a></div>
</div>
<div id="left_sidebar">
  <ul>
      <li><a href="feeds"><img src="assets/images/news-feed-icon.png" /><span>news feed</span></a></li>
      <li><a href="clients"><img src="assets/images/people-icon.png" /><span>people</span></a>
          <ul>
              <li><a href="javascript:;"><img src="assets/images/client-icon.png" /><span>CLIENTS</span></a></li>
              <li><a href="javascript:;"><img src="assets/images/team-icon.png" /><span>TEAM</span></a></li>
          </ul>
      </li>
      <li><a href="tickets"><img src="assets/images/ticket-icon.png" /><span>tickets</span></a></li>
      <li><a href="tasks"><img src="assets/images/emar-icon.png" /><span>emars</span></a></li>
      <li><a href="profile"><img src="assets/images/me-icon.png" /><span>me</span></a></li>
  </ul>
</div>
<div id="right_section" class="clients_main">
  <div class="clients_tabs">
      <h3><img src="assets/images/back-btn.png" />Clients</h3> <form><input type="text" placeholder="Search Here..." /><input type="button" /></form>
  </div>

  <div class="take_photo_upload">
      <img src="assets/images/sally-big.png" /> <span>Take Picture / Upload</span><img src="assets/images/upload-icon.png" class="upload" />
  </div>

  <div class="information">
      <ul>
          <li>Name <span>Linda Lane</span></li>
          <li>Allergies <span>Peanut Butter, Corn</span></li>
          <li>Conditions <span>Diabetes, High Cholesterol</span></li>
          <li>Note <span>Color blind, take care of when givin.</span></li>
      </ul>
  </div>


  <div class="icons_all">
      <ul>
          <li><a href="emars"><img src="assets/images/emar_icon.png" /><span>eMARS</span></a></li>
          <li><a href="order-ticket"><img src="assets/images/reorder_icon.png" /><span>Reorder</span></a></li>
          <li><a href="tickets"><img src="assets/images/tickets_icon.png" /><span>Tickets</span></a></li>
          <li><a href="documents"><img src="assets/images/documents-icon.png" /><span>Documents</span></a></li>
          <li><a href="events"><img src="assets/images/events_icon.png" /><span>Events</span></a></li>
          <li><a href="appointments"><img src="assets/images/appointments_icon.png" /><span>Appointments</span></a></li>
          <li><a href="pharmacist-corner"><img src="assets/images/pharma_icon.png" /><span>Pharmacist Corner</span></a></li>
          <li><a href="health-graph"><img src="assets/images/health_graphs_icon.png" /><span>Health Graphs</span></a></li>
      </ul>
  </div>

</div>
