<header id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
      <div class="item active">
          <div class="logo"><img src="assets/images/logo.png" /></div>
      </div>
      <div class="item">
          <div class="img_all">
              <div class="image_purple"><img src="assets/images/img_capsule.png" /></div>
              <div class="text"><h5>Compliance Package</h5><p>Accurate & error-resistant packaging solutions</p></div>
          </div>
      </div>
      <div class="item">
          <div class="img_all">
              <div class="image_purple"><img src="assets/images/img_slide2.png" /></div>
              <div class="text"><h5>Home Centred Service</h5><p>Comprehensive supports to residential care facilities</p></div>
          </div>
      </div>
      <div class="item">
          <div class="img_all">
              <div class="image_purple"><img src="assets/images/img_slide3.png" /></div>
              <div class="text"><h5>Prompt Deliveries</h5><p>Our patients receive our services where they live, work and play.</p></div>
          </div>
      </div>
      <div class="item">
          <div class="img_all">
              <div class="image_purple get_started"><a href="login">get started</a></div>
              <div class="text"><h5>Tickets, Medchanges, eMARS..</h5><p>Seamless Love you</p></div>
          </div>
      </div>
  </div>
</header>
