<div class="header">
  <div class="left_logo"><a href="/"><img src="assets/images/logo.png" /></a></div>
  <div class="right_login_person"><a href="login"><img src="assets/images/login_person.png" /><p>Login User</p><img src="assets/images/arrow_down.png" /></a></div>
</div>
<div id="left_sidebar">
  <ul>
      <li><a href="feeds"><img src="assets/images/news-feed-icon.png" /><span>news feed</span></a></li>
      <li><a href="clients"><img src="assets/images/people-icon.png" /><span>people</span></a>
          <ul>
              <li><a href="javascript:;"><img src="assets/images/client-icon.png" /><span>CLIENTS</span></a></li>
              <li><a href="javascript:;"><img src="assets/images/team-icon.png" /><span>TEAM</span></a></li>
          </ul>
      </li>
      <li><a href="tickets"><img src="assets/images/ticket-icon.png" /><span>tickets</span></a></li>
      <li><a href="tasks"><img src="assets/images/emar-icon.png" /><span>emars</span></a></li>
      <li><a href="profile"><img src="assets/images/me-icon.png" /><span>me</span></a></li>
  </ul>
</div>
